.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.section-top__heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}

.section-top__button {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  margin: -10px 0;
  padding: 10px;
  border: none;
  background-color: transparent;
  background-image: url("../../Assets/Images/Icons/theme.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: #e7e7e8;
  }
}
